<ion-header [ngClass]="{'hidden' : utils.hidePopover}">
    <ion-toolbar>
        <ion-title>
            Forgot Password
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content  [ngClass]="{'hidden' : utils.hidePopover}">
    <ion-card-content>
        Please enter your email address to reset your password.
    </ion-card-content>
    <form>
        <ion-list>
            <ion-item lines="none">
                <ion-input type="email" [(ngModel)]="forgotPasswordEmail"
                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email"></ion-input>
            </ion-item>
            <ion-button (click)="resetPassword()" [disabled]="buttonClicked" expand="block" fill="outline"
                        class="login">
                {{ 'RESET' | translate }}
            </ion-button>
        </ion-list>
    </form>
</ion-content>
