
.hidden{
  display: none !important;
}


ion-col {
  background-color: #0bb8cc;
}

ion-label {
  padding-bottom: 25px;
  padding-left: 25px;
}

ion-input {
  float: right;
  --padding-start: 15px;
  --padding-end: 15px;
}


.ion-popover-content {
  --width: 100px;
  --ion-background-color: blue;
}

ion-button {
  opacity: 0;

}

.ion-valid.item-has-value {
  & + ion-button {
    //position: static;
    opacity: 1;
    transition: opacity 1s linear;
    width: 90%;
    height: 50px;
  }


}

ion-content {
  ion-card {
    //background-color: blue;
    border-style: none !important;
    box-shadow: none !important;

    ion-card-content {
      //background-color: white;
      //border-style: none !important;
      //box-shadow: none !important;

      p {
        font: 200 20px sans-serif;
        color: black;
      }
    }
  }

  ion-input {
    border-style: none !important;
    box-shadow: none !important;
    --padding-start: 15px;
    --padding-end: 15px;

  }
}

