
<ion-content scroll="false">
    <ion-img width="unset" style="height:100%; opacity:0.6; width: unset; position: absolute; margin: 0px; max-width: unset; background-color: black !important;" src="../../../assets/img/backgrounds/bg-home.jpeg">  </ion-img>
    <ion-img src="/assets/img/brand/logo.png" alt="CAREMADA"></ion-img>

    <div padding class="buttonArea">
        <ion-button (click)="signup()" expand="block" fill="outline"
                    class="sign">{{ 'SIGNUP' | translate }}</ion-button>
        <ion-button (click)="login()" expand="block" fill="outline" class="login">{{ 'LOGIN' | translate }}</ion-button>
    </div>

</ion-content>
