/*
ion-item {
  margin-bottom: 10px;
}

ion-list {
  margin-top: 120px;
}

ion-row {
  align-items: center;
  text-align: center;
}

ion-button {
  &.forgot-password {
    margin-top: 0px;
    --border-radius: 0px;
    --box-shadow: transparent;
    --ion-color-success: transparent;
    font: 100 15px sans-serif;
  }

}

::ng-deep .reset-password-popover {
  .popover-content {
    top: 48px !important;
    width: 320px;
    padding-bottom: 20px;
    background-color: #ec6d5f;
  }
}
*/
